{
    "stores": {
        "Tatuap\u00e9": {
            "username": "FAUZI",
            "password": "FAU2015",
            "loja_email": "Tatuap\u00e9"
        },
        "Rep\u00fablica": {
            "username": "FAMA",
            "password": "FAM2015",
            "loja_email": "Rep\u00fablica"
        },
        "Santo Andr\u00e9": {
            "username": "EDY.SANTOANDRE",
            "password": "SA40699",
            "loja_email": "Santo Andr\u00e9"
        },
        "Campanella": {
            "username": "EDY",
            "password": "EDY2015",
            "loja_email": "Campanella"
        },
        "Lar center": {
            "username": "SALU",
            "password": "SAL2015",
            "loja_email": "Lar Center"
        },
        "Aricanduva": {
            "username": "REMAR",
            "password": "REM2015",
            "loja_email": "Aricanduva"
        },
        "Pacaembu": {
            "username": "EDY.PACAEMBU",
            "password": "EDY40700",
            "loja_email": "Pacaembu"
        }
    },
    "ocr": {
        "contrato": {
            "search_pattern": "CONTRATO",
            "fields": {
                "NOME CLIENTE": [
                    29.5,
                    174.5,
                    430.5,
                    186.5
                ],
                "CPF/CNPJ": [
                    29.5,
                    201,
                    94.5,
                    212.5
                ],
                "TELEFONE": [
                    28.5,
                    277,
                    201.5,
                    290.5
                ],
                "ENDERECO DE ENTREGA": [
                    29.5,
                    303,
                    369.5,
                    316.5
                ],
                "NUMERO": [
                    28.5,
                    303,
                    369.5,
                    316.5
                ],
                "COMPLEMENTO": [
                    28.5,
                    303,
                    369.5,
                    316.5
                ],
                "BAIRRO": [
                    29.5,
                    329.5,
                    202,
                    343
                ],
                "CIDADE": [
                    204,
                    330,
                    368.5,
                    342.5
                ],
                "UF": [
                    372,
                    330.5,
                    431,
                    342.5
                ],
                "CEP": [
                    434.5,
                    331,
                    566.5,
                    342
                ],
                "NUMERO CONTRATO": [
                    434,
                    108.5,
                    566,
                    132.5
                ]
            }
        }
    },
    "vitta": {
        "empresa": "edy",
        "username": "edy",
        "password": "Nobilia1316"
    },
    "email_smtp": {
        "host": "smtp.kinghost.net",
        "port": 587,
        "use_tls": true,
        "destino_fixo": "pedidos@edyplanejados.com.br"
    },
    "usuarios_email": {
        "kevin@edyplanejados.com.br": "Lib#1211",
        "murilo@edyplanejados.com.br": "Lib#1211"
    },
    "empresa_info": {
        "codigo": "274",
        "nome": "EDY SERVICOS EM MOVEIS LTDA"
    },
    "fornecedores_email": {
        "FLORESTA": [
            "wesley.oliveira@ferragensfloresta.com.br"
        ],
        "ALOX": [
            "alox.projetos@gmail.com"
        ],
        "ALLURE": [
            ""
        ],
        "VITTA": [""],

        "ALLURE - VITTA": [""],

        "FINGER": [""],

        "FORMMA": ["michelle@formmaidea.com.br"],
        
        "ALUMIGLASS": [""],
        
        "LED": ["sami@edyplanejados.com.br",
        "michelle@edyplanejados.com.br"
        ],
        
        "PRIMORATTO": ["pedidos@primoratto.com.br"],

        "VIDROS TEM PORTAS": ["vidrostemportas230@gmail.com"],

        "ESPECIAL": ["anderson.elicher@finger.ind.br",
        "paineis.usinados@finger.ind.br"
        ],

        "VON ORT": ["comercial@vonort.com.br",
        "vendas@vonort.com.br"
        ]
    }
}
